exclude: 'docs/sql.md|README.md'
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: no-commit-to-branch
        args: [--branch, master]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: vale
        name: Vale
        entry: vale
        language: system
        files: \.(md|mdx)$
        args: [--config=.vale.ini]

      - id: mintlify-broken-links
        name: Mintlify Broken Links
        entry: npx mintlify broken-links
        language: system
        files: \.(md|mdx)$
        pass_filenames: false
